.comments_title Отзывы заказчиков
    .comment_subtitle о нашей работе

-
    var comments = [
        {
            name: "Отделение пенионного фонда по Краснодарскому краю",
            photo: "comment01"
        },
        {
            name: "МТС-Банк",
            photo: "comment02"
        },
        {
            name: "Художественный музей им. Коваленко",
            photo: "comment03"
        },
        {
            name: "Банк «Первомайский»",
            photo: "comment04"
        }
    ];

ul.comments_list
    each comment, commentIndex in comments
        li.comments_element(class="comments_element--#{commentIndex}")
            .comments_photo-wrp
                a.comments_photo-link(href="/images/comments/big/#{comment.photo}.png", title="#{comment.name}")
                    img.comments_photo(src="/images/comments/#{comment.photo}.jpg", alt="#{comment.name}")
            .comments_name #{comment.name}