.equipment_title
    | Какое оборудование 
    span.equipment_subtitle мы ремонтируем и обслуживаем

-
    var equipments =  [
                    {
                        name: "Бытовые сплит-системы и&nbsp;кондиционеры",
                        desc: "",
                        img: "equipment01.jpg",
                    },
                    {
                        name: "Мультисплит-системы",
                        desc: "(до 8 внутренних блоков на 1 наружный)",
                        img: "equipment02.jpg",
                    },
                    {
                        name: "Полупромышленные сплит-системы и&nbsp;кондиционеры",
                        desc: "",
                        img: "equipment03.jpg",
                    },
                    {
                        name: "Промышленные кондиционеры и&nbsp;сплит-системы большой мощности",
                        desc: "",
                        img: "equipment04.jpg",
                    },
                    {
                        name: "Чиллеры",
                        desc: "(водоохлаждающие машины)",
                        desc: "",
                        img: "equipment05.jpg",
                    },
                    {
                        name: "Фанкойлы",
                        desc: "",
                        img: "equipment06.jpg",
                    },
                    {
                        name: "Мультизональные системы (VRF- и&nbsp;VRV-ситемы)",
                        desc: "",
                        img: "equipment07.jpg",
                    },
                    {
                        name: "Прецизионные кондиционеры для серверных",
                        desc: "",
                        img: "equipment08.jpg",
                    },
                    {
                        name: "Руфтопы",
                        desc: "(крышные кондиционеры)",
                        img: "equipment09.jpg",
                    },
                    {
                        name: "Центральные кондиционеры",
                        desc: "",
                        img: "equipment10.jpg",
                    },
                    {
                        name: "Вентиляционные установки",
                        desc: "",
                        img: "equipment11.jpg",
                        subtype: [
                            { name: "приточные" },
                            { name: "вытяжные" },
                            { name: "приточно-вытяжные" }
                        ]
                    },
                    {
                        name: "Компрессорно-конденсаторные блоки",
                        desc: "",
                        img: "equipment12.jpg",
                    }
                ];

ul.equipment_list
    each equipment, index in equipments
        li.equipment_list-element.device
            .device_wrp
                .device_tmb
                    img.device_image(src="/images/equipments/#{equipment.img}", alt="#{equipment.name} #{equipment.desc}")
            .device_title(class="device_title--id#{index}") !{equipment.name} 
            if equipment.desc !== ""
                .device_subtitle #{equipment.desc}
            if equipment.subtype !== undefined
                ul.device_subtype
                    each subtype, subtypeIndex in equipment.subtype
                        li.device_subtype-element #{subtype.name}
